include header 
    .home
        .home-modal 
            h1 SUBSCRIPTION TRACKER 
            .home-btn-grp 
                a(href="/signup")
                    .signup-btn(class="home-btn") SIGN UP 
                a(href="/signin")
                    .signin-btn(class="home-btn") SIGN IN 
