include header 

.subscriptions
    .subscriptions-modal 
        h1 DELETE SUBSCRIPTION
            form(action="/subscriptions/delete" method="post" class="form-elements-container")
                .subscription-name(class="form-elements") 
                    label(id="label-subscription-name") Subscription name
                    input(type="text", name="name", id="subscription-name", placeholder=`${subscription.name}`, disabled)
                .payment-date(class="form-elements")
                    label(id="label-payment-date") Payment Date
                    input(type="text", name="date", id="payment-date", placeholder= `${subscription.name}`, disabled)
                .payment-frequency(class="form-elements")
                    label(id="label-payment-frequency") Payment Frequency
                    input(type="text", name="frequency", id="payment-frequency", placeholder= `${subscription.name}`, disabled)     
                .amount(class="form-elements")
                    label(id="label-amount") Amount
                    input(type="text", name="amount", id="amount", placeholder= `${subscription.name}`, disabled)
                button(type="submit") DELETE