* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

a {
    text-decoration: none;
    color: white;
}

/*
    HOME
*/

.home,
.signup,
.signin,
.subscriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/background.jpg");
}

.home-modal,
.signup-modal,
.signin-modal,
.subscriptions-modal {
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 50%;
    min-height: 50vh;
    padding: 2em;
    /* min-width: 200px; */
}

.home-modal,
.signup-modal,
.signin-modal > h1 {
    margin-bottom: 1em;
    font-size: 44px;
    text-align: center;
}

.home-modal > .home-btn-grp {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    width: 30%;
}

.home-modal .home-btn {
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
}

.home-modal .home-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px black;
}

/*
    SIGN UP
*/
.form-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    /* margin: 0.5em; */
}

.form-elements-container label {
    font-size: 20px;
    margin-right: 5px;
}

.form-elements-container input {
    border-radius: 7px;
    height: 2em;
}

.form-elements-container > button {
    width: fit-content;
    margin-top: 1em;
    padding: 2px 7px;
}

.subscriptions {
    position: relative;
}

.subscriptions > .current-user {
    position: absolute;
    top: 1vh;
    right: 2vw;
    display: flex;
    padding: 5px;
    color: white;
}

.subscriptions-modal {
    min-height: 70vh;
}
.subscriptions-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscriptions .logout-btn,
.subscription-add-btn,
.subscription-edit-btn,
.subscription-delete-btn {
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 3px 8px;
    margin-left: 1.25em;
}

.subscriptions table {
    border-radius: 1px solid black;
}

.popup-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
}

.popup-modal {
    background-color: whitesmoke;
    width: 30%;
    height: 30vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
}

.popup-toggle {
    visibility: visible;
    opacity: 1;
}

.form-btn {
    cursor: pointer;
    width: fit-content;
    margin-top: 1em;
    padding: 2px 7px;
}
